{% load static %}
{% block content %}
 <!-- Add icon library -->
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <link rel="stylesheet" href="{% static 'assets/css/account.css' %}">
 <body>
<div class="main--content">
    <div class="header--wrapper">
        <div class="header--title">
            <div><a href="{% url 'chat' %}">LegionChat</a></div>
        </div>
        <div class="user--info">
              {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">Log Out</a></li>
              {% else %}
                <li><a href="{% url 'account_login' %}">Log In</a></li>
                <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
              {% endif %}
        </div>
    </div>
    <div class="card">
        <img src="{{ avatar }}" style="width:100%">
        <p>Email</p>
             {% if id == request.user.id %}
                 <h5>{{ email }}</h5>
             {% else %}
                 <h5>********</h5>
             {% endif %}
             <p>Username</p>
             <h5>{{ username }}</h5>
             <p>Bio</p>
             <h5>{{ bio }}</h5>
     
             {% if id == request.user.id %}
             <button><a href="{% url 'profile1' %}">Update</a></button>
             {% endif %}
        <button><a id="id_send_friend_request_btn">Send Request</a></button>
</div>

 
{% endblock content %}
</body>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    var sendFriendRequestBtn = document.getElementById("id_send_friend_request_btn")
	if (sendFriendRequestBtn != null){
		sendFriendRequestBtn.addEventListener("click", function(){
			sendFriendRequest("{{id}}")
		})
	}

    function sendFriendRequest(id){
        context = {
            "csrfmiddlewaretoken": "{{ csrf_token }}",
            "receiver_user_id": id,
        }
        $.ajax({
            type: 'POST',
            dataType: "json",
            url: "{% url 'friend_request' %}",
            timeout: 5000,
            data: context,
            success: function(data) {
                console.log("SUCCESS", data)
                if(data['response'] == "Friend request sent."){
                }
                else if(data['response'] != null){
                    alert(data['response'])
                }
            },
            error: function(data) {
                console.error("ERROR...", data)
                alert("Something went wrong.")
            }
        });
    }
    

</script>

